<!-- *********************************************************** -->
<div class="container">
  <div class="row">
    <h1>Ajouter</h1>
  </div>
  <div class="row">
    <h4 style="text-align: center">un nouveau citoyen</h4>
  </div>
  <div class="row input-container">
    <div class="col-xs-12">
      <div class="styled-input wide">
        <input type="text" required [(ngModel)]="user.firstname" />
        <label>Nom</label>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="styled-input wide">
        <input type="text" required [(ngModel)]="user.lastname" />
        <label>Prénom</label>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="styled-input" style="float: right">
        <input type="date" required [(ngModel)]="user.date" />
        <label>Date de naissance</label>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="styled-input" style="float: right">
        <input type="text" required [(ngModel)]="user.address" />
        <label>Adresse </label>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="styled-input">
        <input type="text" required [(ngModel)]="user.email" />
        <label>Adresse Email</label>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="styled-input" style="float: right">
        <input type="text" required [(ngModel)]="user.phone" />
        <label>Numéro de téléphone</label>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="styled-input wide">
        <input type="text" required [(ngModel)]="user.password" />
        <label>Mot de passe</label>
      </div>
    </div>

    <div class="form-group clearfix">
      <div>
        <button
          data-id="#accessories-holder"
          class="red-select-btn model-selector btn-send-message"
          (click)="saveUser()"
        >
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>
