<div class="container">
  <div class="row">
    <!-- LIST -->
    <div class="col-md-12">
      <form id="form-list-user">
        <h2><legend>La liste des citoyens</legend></h2>
        <div class="pull-right">
          <a class="btn btn-outline-info" (click)="refreshList()"
            ><i class="glyphicon glyphicon-refresh"></i> Actualiser</a
          >
          <a class="btn btn-outline-danger" routerLink="/form"
            ><i class="glyphicon glyphicon-plus"></i> Ajouter</a
          >
        </div>
        <br /><br /><br />
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Date of birth</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="form-list-client-body">
            <tr
              *ngFor="let user of users; let i = index"
              [class.active]="i == currentIndex"
              (click)="setSelected(user, i)"
            >
              <td>{{ user.id }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.date }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
              <td *ngIf="selected">
                <!--  *ngIf="selected" -->
                <!--a title="view this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-eye-open text-primary"></i> </a-->
                <a
                  title="edit this user"
                  class="btn btn-default btn-sm"
                  routerLink="/form/{{ selected.id }}"
                >
                  <i class="glyphicon glyphicon-edit text-primary"></i>
                </a>
                <a
                  title="delete this user"
                  class="btn btn-default btn-sm"
                  (click)="deleteUser()"
                >
                  <i class="glyphicon glyphicon-trash text-danger"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
