
<!--Carousel Wrapper-->
<div
  id="multi-item-example"
  class="carousel slide carousel-multi-item"
  data-ride="carousel"
>
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/cin.png" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Carte d'identité national</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              CIN à travers un site web sécurisé mis à votre disposition par le
              ministère des Technologies de la Communication.
            </p>
            <a class="btn btn-outline-info waves-effect">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img
            class="card-img-top"
            src="assets/permis.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Permis de conduire</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              permis de conduire à travers un site web sécurisé mis à votre
              disposition par le ministère des Technologies de la Communication.
            </p>
            <a class="btn btn-outline-info waves-effect">Plus d'infos</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img
            class="card-img-top"
            src="assets/signing.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Carte grise</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              Carte grise à travers un site web sécurisé mis à votre disposition
              par le ministère des Technologies de la Communication.
            </p>
            <a class="btn btn-outline-info waves-effect">Plus d'infos</a>
          </div>
        </div>
      </div>
    </div>
    <!--/.First slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->

<div class="container-sm p-5 my-5 border">
  <h1>Conditions de bénéfice du service</h1>
  <p>
    Peuvent bénéficier de ce service les citoyens tunisiens résidant en Tunisie
    ou à l’étranger et ceux résidant à l’étranger qui séjournent sur le
    territoire tunisien. Comme ils peuvent bénéficier de ce service les
    étrangers nés sur le territoire tunisien, les étrangers y résidant et les
    étrangers qui ont résidé sur le territoire tunisien une période déterminée..
  </p>
  <p>
    Le demandeur du document assume l’entière responsabilité sur les données
    fournies. Il ferait l’objet de poursuites judicaires en cas de fausse
    déclaration ou de fraude.
  </p>
  <p>
    En aucun cas, le demandeur du document ne peut demander le remboursement des
    frais du service payés
  </p>
</div>
