<!--Carousel Wrapper-->
<div
  id="multi-item-example"
  class="carousel slide carousel-multi-item"
  data-ride="carousel"
>
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/cin.png" alt="Card image cap" />
          <div class="card-body">
            <h4 class="card-title">Création pour la première fois</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              CIN à travers un site web sécurisé mis à votre disposition par le
              ministère des Technologies de la Communication.
            </p>
            <a class="btn btn-outline-info waves-effect" href="/demandeCIN"
              >Plus d'infos</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img
            class="card-img-top"
            src="assets/permis.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Renouvellement</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              permis de conduire à travers un site web sécurisé mis à votre
              disposition par le ministère des Technologies de la Communication.
            </p>
            <a
              class="btn btn-outline-info waves-effect"
              href="/renouvellementCIN"
              >Plus d'infos</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img
            class="card-img-top"
            src="assets/signing.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">Duplicata en cas de perte</h4>
            <p class="card-text">
              Ce service en ligne vous permet de faire une demande à distance du
              Carte grise à travers un site web sécurisé mis à votre disposition
              par le ministère des Technologies de la Communication.
            </p>
            <a class="btn btn-outline-info waves-effect" href="/duplicataCIN"
              >Plus d'infos</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--/.First slide-->
  </div>
  <!--/.Slides-->
</div>
